//boxed view
$box-view-overlay-color:#e3f2fd;
$box-view-bg:#b2ebf2;
$title-font-color: #37474f;
//base
$input-font-color:#006064;
$input-border-bottom-color: #78909c;
$input-focus-border-bottom-color:#00bfa5;