.box-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $box-view-overlay-color;
    width: 100vw;
    height: 100vh;
}

.box-view__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $box-view-bg;
    padding: 2rem;
    text-align: center;
    width: 50rem;
    height: 15rem;
    -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.27);
}

.box-view__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-view__title {
    color: $title-font-color;
    font-weight: 400;
}