.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.links__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    background-color: #e8f5e9;
    margin: 1rem 0;
    padding: .5rem 1.5rem;
    -webkit-box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.23);
    &__main {
        font-weight: 600;
        color: #263238;
    }
    &__trimmed {
        font-weight: 300;
        color: #1b5e20;
        transition: font-weight .3s ease-in-out;
        margin-top: 1rem;
        &:hover {
            font-weight: 400;
            transition: font-weight .3s ease-in-out;
        }
    }
    &__stats {
        font-weight: 100;
        font-size: 1.5rem;
        margin-top: 1rem;
        &__label {
            font-weight: 500;
            font-size: 1.6rem;
        }
    }
}